
{% extends 'main.html' %}
{% load static %}

{% block title %}
Product List
{% endblock %}

{% block content %}

    <div class="main_container p-4">
        <h1>Product List</h1>
        <a href="{% url 'create_product' %}" class="btn btn-primary mb-4">Add Product</a>
        
        <div class="product_container row">
            {% for product in products %}
                <div class="product-item col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product_id=product.id %}" class="d-block">
                            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="card-img-top img-fluid">
                        </a>
                        <div class="card-body text-center">
                            <div class="product-name card-title">{{ product.product_name }}</div>
                            <div class="product-price card-text">${{ product.price }}</div>
                            <a href="{% url 'update_product' product_id=product.id %}" class="btn btn-primary">Update</a>
                            <a href="{% url 'delete_product' product_id=product.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

