{% extends 'main.html' %}
{% block title %}Your Cart Items{% endblock %}

{% block content %}
<h1>Your Cart Items</h1>
<div class="row">
    {% for cart_item in cart %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ cart_item.product.name }}</h5>
                    <p class="card-text">Quantity: {{ cart_item.quantity }}</p>
                    <p class="card-text">Total Price: ${{ cart_item.total_price }}</p>  <!-- Display total_price -->
                    <a href="{% url 'cartitem_update' cart_item.pk %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'cartitem_delete' cart_item.pk %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}



