body {
    margin:0;
    font: 600 18px 'Source Sans Pro', sans-serif;
    letter-spacing: 0.64px;
    color: #585d74;
    background-color: #95b9dc;
  }
  
  .topnav {
    background-color:#375BDC;
    color:#ffffff;
    padding:10px;
  }
  .topnav a:link, .topnav a:visited {
    text-decoration: none;
    color: #ffffff; 
  }
  .topnav a:hover, .topnav a:active {
    text-decoration: underline;
  }
  .mycard {
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom, #375BDC, #4D70EF); 
    background-size: 100% 120px;
    background-repeat: no-repeat;
    margin: 40px auto;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
    padding: 20px;
  }
  .mycard h1 {
    text-align: center;
    color:#ffffff;
    margin:20px 0 60px 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    background-color: #ffffff;
    background-image: linear-gradient(to right, #375BDC, #4D70EF); 
    background-size: 50px 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .25s;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    padding: 15px;
    padding-left: 70px;
    margin-top: 5px;
  }
  li:hover {
    transform: scale(1.1);
  }
  a:link, a:visited {
    color: #375BDC; 
  }
  .main, .main h1 {
    text-align:center;
    color:#375BDC;
  } 

  footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}


.category-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.category-card p {
  font-size: 1rem;
  color: #333;
}

.category-card a {
  text-decoration: none;
  color: inherit;
}

.category-card a:hover h1 {
  text-decoration: underline;
}
footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
}

.object-menu ul {
  list-style-type: none;
  padding: 0;
}

.object-menu ul li {
  display: inline;
  margin: 0 15px;
}

.object-menu ul li a {
  text-decoration: none;
  color: #333;
}

.contact-info p,
.social-media p,
.powered-by p {
  margin: 10px 0;
  color: black;
}

.contact-info a {
  color: #333;
  text-decoration: none;
  color: black;
}

.contact-info a:hover {
  text-decoration: underline;
}


.logo {
  width: 150px;       
  height: auto;      
  display: inline-flex;     
  margin: 20px auto;  
  padding: 20px;      
  border: 2px solid #ccc;  
  border-radius: 10px;     
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
}

.login-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  max-width: 400px;
  border: 1px solid #ccc;
}

.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form {
  margin-bottom: 20px;
}

.login-form input[type="submit"] {
  width: 100%;
  margin-top: 10px;
}

.register-link {
  margin-top: 20px;
}

.register-link span {
  margin-right: 10px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

#main_form {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.card {
  padding: 20px;
  border-radius: 10px;
}

.img-fluid {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container {
  max-width: 800px;
  margin: auto;
}

#index2 {
  margin-bottom: 20px;
}

#index3{
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.object-menu {
  margin-top: 20px;
}

.list-inline-item .btn {
  margin-right: 10px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.card-text {
  font-size: 1rem;
}

.btn {
  margin-right: 5px;
  padding: 10px 20px;
}
.form-control {
  margin-bottom: 15px;
}

.main_container {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.category_container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}
.form-field {
  width: 100%;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  padding: 10px;
  box-sizing: border-box;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 1.25em;
  color: #28a745;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

.product-pub-date {
  font-size: 0.9em;
  color: #888;
}
.product-description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.product-image {
  width: auto;
  height: auto;
  max-height:100%;
  max-width: 100%;
  border-radius: 5px;
  display: block;
  margin-bottom: 15px;
}
/* General styling for the search form */
.search-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
}

/* Styling for the form group */
.search-form .form-group {
  margin-bottom: 1rem;
}

/* Styling for the label */
.search-form label {
  font-weight: bold;
}

/* Styling for the input field */
.search-form .form-control {
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #ced4da;
}

/* Focus state for the input field */
.search-form .form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Styling for the submit button */
.search-form .btn-primary {
  border-radius: 4px;
  background-color: #007bff;
  border-color: #007bff;
}

/* Hover state for the submit button */
.search-form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Center align the button */
.search-form .text-center {
  text-align: center;
}


