{% extends 'main.html' %}

{% block content %}
    <h2>Search Results</h2>
    <h3>Categories</h3>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }} - {{ category.description }}</li>
        {% empty %}
            <li>No categories found.</li>
        {% endfor %}
    </ul>

    <h3>Products</h3>
    <ul>
        {% for product in products %}
            <li>{{ product.product_name }} - {{ product.description }} - ${{ product.price }}</li>
        {% empty %}
            <li>No products found.</li>
        {% endfor %}
    </ul>
{% endblock %}